CLIENT_URLS=http://localhost:5173,https://resumeai.com
MONGODB_URI=mongodb://localhost:27017/resumeai
PORT=5000
JWT_SECRET_KEY=
MAIL_HOST=smtp.zoho.in
MAIL_PORT=465
MAIL_USER=email
MAIL_PASS=your_app_password